.Login {
    margin-top: 250px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 20px yellow;
    text-align: center;
}

.Login:hover {
    filter: drop-shadow(2px 2px 20px blue);
    box-shadow: 2px 2px 20px blue;
}

.Login h2 {
    text-align: center;
    color: yellow;
}

.Login form {
    display: flex;
    flex-direction: column;
}

.Login label {
    color: white;
    margin: 0 auto;
    margin-bottom: -20px;
}

.Login input[type='email'] {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 16px;
}

.Login input[type="text"],
.Login input[type="password"] {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 16px;
}

.Login button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Login button:hover {
    background-color: #0056b3;
}

.Login label,
.RegisterForm label {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}

.Login input[type="password"]+span,
.RegisterForm input[type="password"]+span {
    position: absolute;
    right: 6px;
    cursor: pointer;
}