/* Login.css */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1d150a8c;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

.message {
    margin-bottom: 20px;
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgba(255, 166, 0, 0.432);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-btn {
    padding: 10px;
    background-color: #007bff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-btn:hover {
    background-color: #0056b3;
}

.sign-up-label {
    margin-top: 10px;
}

.sign-up-link {
    color: #007bff;
}

.sign-up-link:hover {
    text-decoration: underline;
}

.admin {
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.apple-login-button,
.google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    color: #333;
    width: 150px;
}

.apple-icon,
.google-icon {
    margin-right: 10px;
}

.password-container {
    position: relative;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}